VITE_SUPABASE_URL=https://wqecrvjulzfgwhgiehmg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndxZWNydmp1bHpmZ3doZ2llaG1nIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxMTY3NjcsImV4cCI6MjA4OTY5Mjc2N30.nAu-bV3cXRrLNSB58FAx1Tiak5VYqnEAOw1krj_BVBM
VITE_API_URL=/api
